@import "@izanagi-ui/core";
@import "globals.scss";

$primary-color-100: #2E3440;
$primary-color-200: #3B4252;
$primary-color-300: #434C5E;
$primary-color-400: #4C566A;
$primary-color-base: #2E3440;
$primary-color-interaction: #4C566A;

$secondary-color-100: #7E6E99;
$secondary-color-200: #6E6186;
$secondary-color-300: #5E5373;
$secondary-color-400: #4F4560;
$secondary-color-base: #7E6E99;
$secondary-color-interaction: #4F4560;

$success-color: #A3BE8C;
$warning-color: #EBCB8B;
$danger-color: #BF616A;

.storybook-button {
  font-family: 'OpenSauceSans', 'OpenSauceOne', 'OpenSauceTwo';
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: 0;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: white;
  background-color: $secondary-color-100;

  &:hover {
    background-color: $secondary-color-interaction;
    transition: .5s;
  }
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
