@font-face {
  font-family: "OpenSauceTwo";
  src: url("https://github.com/nicolaslima321-labs/Izanagi-UI/raw/master/packages/core/resources/OpenSauceTwo-Light.ttf") format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: "OpenSauceTwo";
  src: url("https://github.com/nicolaslima321-labs/Izanagi-UI/raw/master/packages/core/resources/OpenSauceTwo-LightItalic.ttf") format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "OpenSauceTwo";
  src: url("https://github.com/nicolaslima321-labs/Izanagi-UI/raw/master/packages/core/resources/OpenSauceTwo-Regular.ttf") format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "OpenSauceTwo";
  src: url("https://github.com/nicolaslima321-labs/Izanagi-UI/raw/master/packages/core/resources/OpenSauceTwo-Italic.ttf") format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "OpenSauceTwo";
  src: url("https://github.com/nicolaslima321-labs/Izanagi-UI/raw/master/packages/core/resources/OpenSauceTwo-Medium.ttf") format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: "OpenSauceTwo";
  src: url("https://github.com/nicolaslima321-labs/Izanagi-UI/raw/master/packages/core/resources/OpenSauceTwo-MediumItalic.ttf") format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "OpenSauceTwo";
  src: url("https://github.com/nicolaslima321-labs/Izanagi-UI/raw/master/packages/core/resources/OpenSauceTwo-SemiBold.ttf") format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: "OpenSauceTwo";
  src: url("https://github.com/nicolaslima321-labs/Izanagi-UI/raw/master/packages/core/resources/OpenSauceTwo-SemiBoldItalic.ttf") format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "OpenSauceTwo";
  src: url("https://github.com/nicolaslima321-labs/Izanagi-UI/raw/master/packages/core/resources/OpenSauceTwo-Bold.ttf") format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: "OpenSauceTwo";
  src: url("https://github.com/nicolaslima321-labs/Izanagi-UI/raw/master/packages/core/resources/OpenSauceTwo-BoldItalic.ttf") format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "OpenSauceTwo";
  src: url("https://github.com/nicolaslima321-labs/Izanagi-UI/raw/master/packages/core/resources/OpenSauceTwo-ExtraBold.ttf") format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: "OpenSauceTwo";
  src: url("https://github.com/nicolaslima321-labs/Izanagi-UI/raw/master/packages/core/resources/OpenSauceTwo-ExtraBoldItalic.ttf") format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "OpenSauceTwo";
  src: url("https://github.com/nicolaslima321-labs/Izanagi-UI/raw/master/packages/core/resources/OpenSauceTwo-Black.ttf") format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: "OpenSauceTwo";
  src: url("https://github.com/nicolaslima321-labs/Izanagi-UI/raw/master/packages/core/resources/OpenSauceTwo-BlackItalic.ttf") format('truetype');
  font-weight: 900;
  font-style: italic;
}
