@font-face {
  font-family: "OpenSauceTwo";
  src: url("~assets/fonts/OpenSauceTwo-Light.ttf") format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: "OpenSauceTwo";
  src: url("~assets/fonts/OpenSauceTwo-LightItalic.ttf") format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "OpenSauceTwo";
  src: url("~assets/fonts/OpenSauceTwo-Regular.ttf") format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "OpenSauceTwo";
  src: url("~assets/fonts/OpenSauceTwo-Italic.ttf") format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "OpenSauceTwo";
  src: url("~assets/fonts/OpenSauceTwo-Medium.ttf") format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: "OpenSauceTwo";
  src: url("~assets/fonts/OpenSauceTwo-MediumItalic.ttf") format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "OpenSauceTwo";
  src: url("~assets/fonts/OpenSauceTwo-SemiBold.ttf") format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: "OpenSauceTwo";
  src: url("~assets/fonts/OpenSauceTwo-SemiBoldItalic.ttf") format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "OpenSauceTwo";
  src: url("~assets/fonts/OpenSauceTwo-Bold.ttf") format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: "OpenSauceTwo";
  src: url("~assets/fonts/OpenSauceTwo-BoldItalic.ttf") format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "OpenSauceTwo";
  src: url("~assets/fonts/OpenSauceTwo-ExtraBold.ttf") format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: "OpenSauceTwo";
  src: url("~assets/fonts/OpenSauceTwo-ExtraBoldItalic.ttf") format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "OpenSauceTwo";
  src: url("~assets/fonts/OpenSauceTwo-Black.ttf") format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: "OpenSauceTwo";
  src: url("~assets/fonts/OpenSauceTwo-BlackItalic.ttf") format('truetype');
  font-weight: 900;
  font-style: italic;
}
