// @import '../../styles/variables.scss';

.izg-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border-width: inherit;
  border-radius: $border-radius-base;
  cursor: pointer;
  // display: inline-block;
  line-height: 1;
}

.izg-button--primary {
  color: white;
  background-color: $primary-color-base;

  &:hover {
    background-color: $primary-color-interaction;
    transition: 1s;
  }
}

.izg-button--secondary {
  color: #333;
  border-width: 1px;
  border-color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;

  &:hover {
    background-color: rgba(0, 0, 0, 0.15);
    transition: 1s;
  }
}

.izg-button--small {
  font-size: 12px;
  padding: 10px 16px;
}

.izg-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}

.izg-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
